@charset "utf-8"; 
.window{
	width: 1100px;
	margin: 0 auto;
	font-family:"微软雅黑";
}
.Usermenu{
	margin-top: 30px;
	width: 200px;
	font-size: 14px;
	color: #fff;
	background: #ff5500;
	line-height: 40px;
}
.iframediv{
	width: 900px;
}
.Usermenu ul li{
	border-bottom: 1px solid #fff;
	padding: 10px 0px 10px 0px;
}
.Usermenu ul li img{
	margin: 0px 10px 0px 10px;
	cursor: pointer;
}
.Usermenu ul li h4{
	font-size: 18px;
	margin-left: 20px;
	text-align: left;
	cursor: pointer;
}
.userInforTag h5{
	margin-left: 30px;
	text-align: left;
	cursor: pointer;
}
.Usermenu ul li p{
	text-align:center;
	font-size: 18px;
}
.personalData,.AccountCenterWindow{
	min-height: 1220px;
	width: 850px;
	margin-top: 40px;
	padding-left: 30px;
	background: #fafafa;
}
.PerDataTop{
	text-align: left;
	border-bottom: 1px dashed #bcbcbc;
	font-size: 18px;
	color: #141414;
	line-height: 40px; 
	padding-bottom: 20px;
}
.PerDataTopName {
	display: inline-block;
	padding-left: 10px;
	width: 240px;
}
.PerDataTopMoney {
	display: inline-block;
	width: 380px;
}
.PerDataTopMoney div span{
	font-size: 24px;
	color: #ff5704;
}
.PerDataTopMoney span{
	display: inline-block;
	margin-right: 15px;
}
.progressBar{
	display: inline-block;
	width: 100px;
	height: 10px;
	padding: 1px;
	border: 1px solid #d9d9d9;
	-webkit-border-radius: 5px;
	 -moz-border-radius: 5px;
	 border-radius: 5px;
	 margin-left: 10px;
}
.progressBar div{
	width: 50%;
	height: 100%;
	-webkit-border-radius: 5px;
	 -moz-border-radius: 5px;
	 border-radius: 5px;
	 background: #ff5704;
}
.PerDataTopButton{
	display: inline-block;
}
.PerDataTopButton span,.personalDataform .PerDataTopButton2{
	padding:7px 20px 7px 20px;
	font-size: 19px;
	color: #fff;
	-webkit-border-radius: 3px;
	 -moz-border-radius: 3px;
	 border-radius: 3px;
	 margin-left: 10px;
	 cursor: pointer;
}
.PerDataTopButton1{
	background: #74bc00;
}
.PerDataTopButton2{
	background: #ff5e10;
}
.personalData h3,.addyourproject h2,.PrDyBack h2,.AccountCenterH3{
	color: #ff5500;
	font-size: 26px;
	text-align: left;
	width: 100%;
}
.personalData h3 img,.addyourproject h2 img,.PrDyBack h2 img,.AccountCenterH3 img{
	margin:0px 10px 0px 10px;
}
.addyourproject h2 a{
	float: right;
	color: #666666;
	font-size: 14px;
	line-height: 60px;
	margin: 10px 20px 0px 0px;
}
.personalDataTag ul li{
	float: left;
	padding: 0px 30px 0px 30px;
	height: 55px;
	line-height: 55px;
	font-size: 20px;
	color: #141414;
	border-top: 2px solid #fafafa;
	cursor: pointer;
	background: #fafafa;
}
.personalDataTag ul .personalDataTagChecked{
	border-top: 2px solid #ff5704;
	color: #ff5704;
	background: #fff;
}
.personalDataform ,.ProjectSettingList{
	padding: 0px 0px 30px 20px;
	color: #141414;
	font-size: 16px;
	line-height: 35px;
	background: #fff;
	margin-right: 2px;
	text-align: left;
}
.personalDataform ul li,.ProjectSettingList ul li{
	padding: 10px 0px 10px 0px;
}
.personalDataform ul li label{
	display: inline-block;
	width: 90px;
	text-align: right;
}
.personalDataform ul li span{
	color: #666666;
	margin-left: 10px;
}
.personalDataform select{
	width: 135px;
	margin-right: 10px;
	height: 35px;
	padding-left: 10px;
}
.personalDataform input{
	padding-left: 10px;
	height: 35px;
	font-size: 16px;
}
.email{
	width: 250px;
}
.explain{
	width: 500px;
}
.realName,.phone,.code{
	width: 160px;
}
.address{
	width: 350px;
}
.addyourproject,.PrDyBack{
	width: 870px;
	margin: 30px 0px 20px 30px;
	
	background: #fafafa;
}
.hint{
	padding: 10px;
	color: #666666;
	font-size: 14px;
	border: 1px solid #bababa;
	line-height: 30px;
	background: #ffffc4;
	margin: 10px 0px;
}
.hint div{
	line-height: 50px;
	font-size: 24px;
	color: #ff5500;
}
.addyourprojectTable{
	margin: 30px 0px 0px 0px;
	width: 870px;
	background: #cccccc;
	text-align: left;
	font-size: 14px;
	color: #141414;
	border-collapse:separate;
	border-spacing: 1px;
}
.addyourprojectTable tr{
	height: 40px;
}
.addyourprojectTable td{
	padding-left: 5px;
	background: #f7f7f7;
}
.addyourprojectTable span{
	float: right;
	color: #ff5500;
}
.edit{
	font-size: 13px;
	margin-right: 10px;
	float: right;
	color: #fff;
	background: #74bc00;
	padding: 3px 10px 3px 10px;
	-webkit-border-radius: 3px;
	 -moz-border-radius: 3px;
	 border-radius: 3px;
}
.edit img,.projectNameTD img,.PrManaName img{
	margin-right: 5px;
}
.projectNameTD{
	color: #ff5500;
}
.projectNameTD span,.PrManaName span,.PrManaName em{
	float: none;
	color: #42a322;
	font-size: 13px;
	padding: 3px 10px 3px 10px;
	-webkit-border-radius: 3px;
	 -moz-border-radius: 3px;
	 border-radius: 3px;
	 background: #def8de;
	 border: 1px solid #40a021;
	 margin-left: 10px;
}
.PrManaName .emNo{
	background: #f2f2f2;
	border: 1px solid #bfbfbf;
	color: #898989;
}
.PrManaName em img{
	width: 15px;
}
.video{
	text-align: center;
	color: #ff5500;
}
.addyourproject .personalDataTag{
	margin: 50px 0px 0px 30px;
}
.InPrlist {
	text-align: left;
	overflow: hidden;
}
.InPrlist h3{
	margin: 10px 0px 10px 0px;
	text-align: left;
	height: 40px;
	background: #ffe2d4;
	line-height: 40px;
	font-size: 18px;
	color: #ff5200;
}
.InPrlist h3 span{
	margin:0 20px 0 20px;
	text-align: center;
	display: inline-block;
	height: 40px;
	width: 29px;
	color: #fff;
	background: url("../images/InPrIcont9.png");
}
.InPrlist p{
	margin:10px 30px 30px 30px;
	color: #292929;
	font-size: 14px;
	line-height: 30px;
}
.addyourprojectList{
	background: #fff;
}
.SubmitData{
	margin: 30px 0px 50px 0px;
}
.SubmitData span{
	cursor: pointer;
	color: #ff5500;
	background: #ffe9da;
	font-size: 16px;
	border: 1px solid #ff5500;
	-webkit-border-radius: 3px;
	 -moz-border-radius: 3px;
	 border-radius: 3px;
	 padding: 7px 20px 7px 20px;
}
.PrDyBackTable,.InvesQueryTable{
	margin: 30px 0px 0px 3px;
	width: 845px;
	background: #cccccc;
	border-collapse:separate;
	border-spacing: 1px;
}
.InPrlistTable{
	margin:10px 0px 30px 0px;
}
.InPrlistTable table{
	background: #cccccc;
	border-collapse:separate;
	width: 100%;
	border-spacing:1px;
}
.PrDyBackTable td,.InPrlistTable td,.InvesQueryTable td{
	height: 40px;
	background:#fff;
	font-size: 14px;
	color: #333333;
	text-align: center;
}
.PrDyBackTable td img{
	margin: 0px 3px 0px 3px;
}
.PrDyBackTable th,.InPrlistTable th,.InvesQueryTable th{
	text-align: center;
	height: 50px;
	background:#fff4ef;
	font-size: 16px;
	color: #ff5500;
}
.InvesQueryTable th{
	padding: 0px 10px 0px 10px;
	height: 35px;
}
.PrDyBackDelebutton{
	padding-bottom:30px; 
	margin: 30px 0px 0px 30px;
	font-size: 14px;
	text-align: left;
}
.PrDyBackDelebutton div,.greenButton{
	color: #fff;
	background: #8ec017;
	padding: 7px 20px 7px 20px;
	display: inline-block;
	cursor: pointer;
	margin:0px 10px 0px 10px;
}
.greenButton{
	font-size: 14px;
}
.PrDyBackDelebutton span{
	float: right;
	margin-right: 20px;
}
.ProjectSettingList ul li span{
	width: 180px;
	display: inline-block;
	text-align: right;
}
.ProSettextarea div{
	line-height: 15px;
	color: #666666;
	font-size: 14px;
	padding-left: 180px;
}
.ProSettextarea textarea{
	font-size: 14px;
	line-height: 25px;
}
.ProSettextarea label{
	vertical-align: top;
}
.ProjectSettingList ul .ProSetbutton{
	margin-top: 20px;
	padding-left: 180px;
	font-size: 18px;
	color: #fff;
}
.ProSetbutton div{
	display: inline-block;
	width: 100px;
	line-height: 35px;
	text-align: center;
	background: #70b800;
	-webkit-border-radius: 3px;
	 -moz-border-radius: 3px;
	 border-radius: 3px;
	 margin: 0px 15px 0px 15px;
	 cursor: pointer;
}
.ProjectSettingList input{
	margin: 0px 10px 0px 10px;
}
.ProjectSettingList input[type="text"],.ProjectSettingList select{
	width: 400px;
	margin: 0px 10px 0px 0px;
	line-height: 30px;
	height: 30px;
}
.ProjectSettingList select{
	width: 90px;
}
.ProjectSettingList ul li .ProSetinput{
	width: 150px;
}
.ProjectSettingList .ProSetselect{
	width: 190px;
}
.applyInvesH3{
	margin: 10px;
	text-align: left;
	font-size: 18px;
	color: #ff5500;
	padding-bottom: 20px;
	border-bottom: 1px solid #c0c0c0;
}
.applyInvesH3 img{
	margin:0px 10px 0px 10px;
}
.InvesIndustry{
	margin: 10px 10px 30px 10px;
	text-align: left;
	font-size: 14px;
	color: #141414;
	line-height: 40px;
}
.InvesIndustry input{
	margin:0px 10px 0px 10px;
}
.applyInvesP{
	margin: 10px;
	font-size: 14px;
	color: #666666;
	line-height: 30px;
}
.ckeditorDiv{
	margin: 10px 0px 20px 0px;
}
.PrDyBackButton{
	margin: 30px;
	display: inline-block;
	font-size: 18px;
	width: 100px;
	height: 35px;
	line-height: 35px;
	color: #fff;
	background: #6fb701;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	cursor: pointer;
	border: 1px solid #c8c8c8;
}
.InPrlistH3 a{
	float: right;
	background: #05bf00;
	color: #fff;
	font-size: 18px;
	padding: 0px 2px 0px 2px;
	line-height: 18px;
	margin: 10px 10px 0px 0px;
}
.PrHiDataList ul li{
	text-align: left;
	margin-top: 15px;
	font-size: 14px;
	color: #141414;
	line-height: 30px;
}
.PrHiDataList ul li span{
	color: #ff5200;
}
.PrHiDataListinput{
	height: 30px;
	width: 450px;
}
.PrHiDataList ul li input{
	margin: 0px 5px 0px 5px;
}
.PrHiDataListSelect select{
	margin: 0px 5px 0px 5px;
	height: 30px;
	width: 80px;
}
.PrHiDataList h5{
	text-align: left;
	color: #ff5500;
	font-size: 16px;
	border-bottom: 1px dashed #bcbcbc;
	line-height: 40px;
	margin-bottom: 20px;
}
.InPrlistTable input{
	width: 100%;
	height: 25px;
}
.InPrlistTable div{
	margin: 0 auto;
	margin-left: 10px;
	margin-right: 20px;
}
.InPrlistTr{
	text-align: center;
}
.InPrlistTr a{
	padding:7px 15px 7px 15px;
	background: #8ec017;
	color: #fff;
}
.Addphase{
	margin: 50px 0px 30px 0px;
}
.Addphase span{
	display: inline-block;
	height: 35px;
	width: 160px;
	background: #8ec017;
	color: #fff;
	font-size: 18px;
	line-height: 35px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	cursor: pointer;
}
.cumulative {
	text-align: left;
	margin: 10px 0px 30px 0px;
}
.cumulative span{
	font-size: 16px;
	color: #ff5500;
}
.cumulativeButton div{
	display:inline-block;
	*display:inline;
	*zoom:1;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #c8c8c8;
	font-size: 16px;
	padding: 7px 15px 7px 15px;
	margin: 0px 5px 0px 5px;
	color: #777777;
	background: #e5e5e5;
	cursor: pointer;
}
.cumulativeButton{
	margin: 30px;
	text-align: center;
}
.cumulativeButton .cumulativeButton1{
	color: #fff;
	background: #6eb601;
}
.InPrlistTable select{
	line-height: 25px;
	height: 25px;
}

.patternPaymentNav{
	height: 50px;
	margin: 30px 0px 30px 0px;
	border-bottom: 3px solid #ff5200;
}
.patternPaymentNav ul li{
	float: left;
	padding: 0px 15px 0px 15px;
	height: 49px;
	border: 1px solid #cccccc;
	margin: 0px;
	margin-right: 5px;
	border-bottom: 0px;
	cursor: pointer;
	font-size: 20px;
	color: #666666;
	line-height: 49px;
}
.patternPaymentNav ul .PaPaNavChecked{
	border-top: 1px solid #ff5200;
	background: url("../images/background.png") repeat-x;
	border-bottom: 3px solid #ffffff;
	color: #ff5200;
}
.PrDyBack #faqdiv2 .faqtable{
	background: #fafafa;
}
.PrDyBack #faqdiv2 .faqtable td{
	background: #fafafa;
}
.attachment ul li{
	height: 30px;
	width: 220px;
	font-size: 14px;
	line-height: 30px;
	color: #141414;
	text-align: center;
	overflow: hidden;
	float: left;
}
.attachment ul li a:hover{
	color: #ff5200;
}
.TagContentList{
	clear: both;
	display: none;
	padding-top: 5px;
}
.Identity{
	margin: 30px;
	color: #666666;
	font-size: 14px;
	text-align: left;
}
.IdentityLeft{
	margin-left: 30px;
	width: 580px;
}
.IdentityRight{
	width: 200px;
	text-align: center;
}
.UploadPhotos span{
	font-size: 16px;
	color: #141414;
}
.preview{
	margin: 10px 0px 10px 0px;
}
.preview span{
	font-size: 16px;
	visibility: hidden;
}
.preview img{
	margin-left: 20px;
	width: 140px;
	height: 80px;
	border: 1px solid #fff;
}
.SpanButton{
	margin-top: 30px;
	text-align: center;
}
.SpanButton span,.AfInSubmit span{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #c8c8c8;
	font-size: 16px;
	width: 100px;
	display: inline-block;
	padding: 7px 0px 7px 0px;
	margin: 0px 5px 0px 5px;
	color: #fff;
	background: #74bc00;
	cursor: pointer;
}
.IdentityRight img{
	margin: 10px 0px 10px 0px;
}
.hintP p{
	margin-left: 50px;
}
.hintInquiry{
	margin: 20px 0px 30px 0px;
	background: #ecffe2;
	line-height: 40px;
}
.hintInquiry a{
	padding: 7px 15px 7px 15px;
	background: #339900;
	color: #fff;
	font-size: 16px;
}
.RechargeFlowList em{
	display: inline-block;
	width: 26px;
	height: 26px;
	background: url("../images/background3.png") no-repeat;
	line-height: 26px;
	color: #fff;
	font-size: 18px;
}
.RechargeFlowList ul li{
	margin: 20px 10px 30px 0px;
	width: 270px;
	height: 105px;
	float: left;
	border-bottom: 2px solid #b6b6b6;
}
.RechargeFlowList ul .FlowLi{
	border-bottom: 2px solid #ff5500;
}
.RechargeFlowList div{
	font-size: 18px;
	color: #b6b6b6;
	line-height: 40px;
}
.RechargeFlowList span{
	display: inline-block;
	width: 50px;
	height: 50px;
}
.FlowSpan1{
	background: url("../images/RechargeIcont.png") no-repeat;
}
.FlowSpan2{
	background: url("../images/RechargeIcont2.png") no-repeat;
}
.FlowLi .FlowSpan2{
	background: url("../images/RechargeIcont2_1.png") no-repeat;
}
.FlowSpan3{
	background: url("../images/RechargeIcont3.png") no-repeat;
}
.FlowLi .FlowSpan3{
	background: url("../images/RechargeIcont3_1.png") no-repeat;
}
.RechargeFlowList ul .FlowLi em{
	background: url("../images/background2.png") no-repeat;
}
.RechargeFlowList ul .FlowLi div {
	color: #ff5500;
}
.RechargeNo{
	margin: 50px;
	font-size: 16px;
	color: #333333;
	line-height: 35px;
	display: none;
}
.RechargeNo h4{
	margin-left: 50px;
	text-align: left;
	color: #ff5500;
	font-size: 18px;
}
.RechargeNoLi{
	text-align: left;
	margin: 30px;
}
.RechargeNoLi input{
	width: 150px;
	height: 25px;
	line-height: 25px;
	margin-right: 5px;
}
.RechargeNoLi label{
	width: 200px;
	text-align: right;
	display: inline-block;
}
.RechargeNoLi span{
	font-size: 24px;
	margin-right: 5px;
}
.bankFlow{
	margin-top: 30px;
	width: 830px;
	height: 196px;
	border: 1px solid #cecece;
	background: url("../images/Flowbackground.png") repeat-x;
}
.bankImg{
	width: 190px;
	margin-top: 50px;
}
.bankList{
	text-align: left;
	margin:30px 0px 0px 20px;
	line-height: 30px;
	font-size: 16px;
	color: #353535;
}
.bankList span{
	color: #ff5500;
}
.RechargePrompt{
	margin:30px 0px 0px 50px;
	font-size: 14px;
	color: #353535;
	line-height: 30px;
}
.RechargePrompt img{
	margin-right: 5px;
}
.RechargePrompt div{
	font-size: 16px;
	text-align: left;
	color: #ff5500;
}
.RechargeInput{
	margin: 20px 0px 20px 0px;
	font-size: 16px;
	color: #353535;
}
.RechargeInput input{
	margin-right: 15px;
}
.RechargeButton{
	color: #fff;
	font-size: 16px;
	background: #339900;
	padding: 7px 30px 7px 30px;
	cursor: pointer;
}
.Invesimg{
	padding-top: 30px;
	width: 130px;
}
.Invesimg img{
	width: 95px;
	height: 95px;
	border: 1px solid #ccc6c6;
}
.Invesimg div{
	font-size: 14px;
	color: #292929;
	line-height:30px;
	cursor: pointer;
}
.PrManaContent ul li{
	width: 840px;
	padding-bottom: 20px;
	border: 1px solid #d9d9d9;
	margin-left: 5px;
}
.PrManaRight{
	width: 660px;
	text-align: left;
	margin-top: 30px;
}
.PrManaName{
	color: #ff5500;
	font-size: 24px;
}
.PrManaName a{
	color: #ff5500;
}
.PrManaDetails img{
	margin-right: 5px;
	vertical-align: top;
}
.PrManaDetails{
	margin-top: 20px;
	font-size: 14px;
	color: #1e1e1e;
}
.PrManaData{
	font-size: 16px;
	margin-top: 20px;
	padding: 15px 10px 15px 10px;
	color: #ff5500;
	line-height: 30px;
	border-top: 1px dashed #c0c0c0;
	border-bottom: 1px dashed #c0c0c0;
}
.PrManaData span,.PrManaData em{
	color: #fff;
	background: #ff5500;
	margin: 0px 10px 0px 0px;
	padding: 3px 5px 3px 5px;
}
.PrManaData em{
	background: #339900;
}
.PrManaButton{
	margin-top: 20px;
}
.PrManaButton span{
	background: #339900;
	font-size: 16px;
	padding: 7px 20px 7px 20px;
	color: #fff;
	margin-right: 15px;
	cursor: pointer;
}
.DrawBackNO span{
	display: inline-block;
	margin-right: 15px;
}
.DrawBackNO span em{
	color: #ff5704;
	font-size: 24px;
}
.DrawBackhint{
	font-size: 14px;
	line-height: 30px;
}
.DrawbackContent{
	margin: 0 auto;
	width: 650px;
	color: #141414;
	font-size: 16px;
	line-height: 50px;
	padding: 20px 0px 30px 0px;
}
.DrawbackContent ul li{
	text-align: left;
}
.DrawbackContent label{
	display: inline-block;
	width: 180px;
	text-align: right;
}
.DrawbackContent em{
	font-size: 14px;
	color: #666666;
}
.DrawbackContent input{
	width: 150px;
	height: 35px;
	font-size: 16px;
	margin-right: 5px;
}
.Drawbackspan{
	font-size: 16px;
	color: #ff0000;
}
.itemSetting ul li{
	background: #fff;
	padding: 25px;
	margin: 15px 0px 15px 0px;
	border: 1px solid #d9d9d9;
	width: 800px;
}
.itemSettingImg img{
	width: 245px;
	height: 155px;
	border: 1px solid #ccc6c6;
}
.itemSettingcontent{
	width: 530px;
	margin-left: 20px;
}
.itemSettingcontent h4{
	font-size: 24px;
	color: #ff5500;
	text-align: left;
	line-height: 40px;
}
.itemSettingcontent h4 a{
	color: #ff5500;
}
.itemSettingNO{
	font-size: 16px;
	color: #ff5500;
	text-align: left;
	line-height: 40px;
	margin: 10px 0px 10px 0px;
}
.itemSettingNO span{
	color: #fff;
	background: #ff5500;
	padding: 3px 5px 3px 5px;
}
.itemSettingButton{
	padding-top: 10px;
	text-align: left;
}
.itemSettingButton span,.PrDyBackListH4 span{
	background: #339900;
	padding: 5px 15px 5px 15px;
	margin-right: 15px;
	cursor: pointer;
	color: #fff;
	font-size: 16px;
}
.itemSettingIframe{
	width: 850px;
}
.UploadSurvey .addPrDy{
	padding: 30px;
}
.PrName{
	color: #ff5200;
}
.addPrDy{
	font-size: 16px;
	color: #141414;
	text-align: left;
	line-height: 30px;
}
.addPrDy label{
	display: inline-block;
	width: 120px;
	text-align: right;
}
.addPrDy div{
	margin-top: 5px;
}
.addPrDy input{
	font-size: 16px;
	width: 340px;
	height: 30px;
}
.addPrDy select{
	font-size: 16px;
	width: 345px;
	height: 35px;
}
.PrDyBackList{
	background: #fff;
	padding: 15px;
	margin: 15px 0px 15px 0px;
	border: 1px solid #d9d9d9;
}
.PrDyBackListH4{
	text-align: left;
	color: #333333;
	font-size: 24px;
	border-bottom: 2px solid #d9d9d9;
	padding-bottom: 10px;
}
.PrDyBackListH4 em{
	color: #ff5500;
}
.MoPiLeft{
	margin: 10px 0px 80px 10px;
	width: 480px;
	height: 480px;
	background: #f7fafb;
	border: 1px solid #d9d9d9;
}
.MoPiLeft img{
	cursor: pointer;
}
.MoPiLeft div{
	margin: 0 auto;
	height: 65px;
	width: 230px;
	position: relative;
	margin-top: 100px;
	margin-bottom: 10px;
}
.MoPiRight{
	width: 110px;
	margin-left: 10px;
	text-align: left;
	color: #1d1d1d;
	font-size: 14px;
	line-height: 20px;
}
.MoPiRight div{
	margin-top: 10px;
}
#MoPiRightImg1{
	width: 100px;
	height: 100px;
}
#MoPiRightImg2{
	width: 90px;
	height: 90px;
}
#MoPiRightImg3{
	width: 45px;
	height: 45px;
}
#MoPiRightImg4{
	width: 30px;
	height: 30px;
}
.file {
    width: 0px;
    height: 0px;
    overflow: hidden;
    position:absolute;
    left:-100px;
    top:-100px;
    z-index:-999;
}
.hiddenDiv{
	display: none;
}
.InInIframe {
	width: 670px;
	overflow-y: auto;
	max-height: 600px;
}
.InInIframe ul li{
	padding: 30px;
	border-bottom: 1px dashed #bcbcbc;
	text-align: left;
}
.InInIframeImg img{
	width: 95px;
	height: 95px;
}
.InInIframeName img{
	margin: 0px 3px 0px 3px;
}
.InInIframeName{
	width: 350px;
	margin: 0px 10px 0px 10px;
}
.InInIframeName div{
	color: #666666;
	font-size: 14px;
	line-height: 25px;
}
.InInIframeName p{
	color: #292929;
	font-size: 24px;
	height: 55px;
	overflow: hidden;
}
.InInIframeButton{
	width: 110px;
}
.InInIframeButton span{
	display: inline-block;
	background: #339900;
	cursor: pointer;
	color: #fff;
	font-size: 15px;
	width: 100px;
	text-align: center;
	height: 30px;
	line-height: 30px;
	margin-top: 10px;
}
.addPrDyButton{
	text-align: center;
}
.InIfgoto{
	cursor: pointer;
}
.AfIndiv{
	color: #ff5500;
	font-size: 24px;
	text-align: left;
	width: 830px;
}
.AfInTable input{
	width: 90%;
	line-height: 28px;
	height: 28px;
}
.AfInTable em{
	color: #141414;
	font-size: 14px;
	margin-right: 5px;
}
.AfInSubmit p{
	font-size: 14px;
	color: #666666;
	line-height: 40px;
}
.AfInSubmit{
	margin: 10px 0px 30px 0px;
}
.afterInves .PrDyBackTable{
	margin-top: 10px;
}
.ProjectReviewNo{
	width: 57px;
	height: 43px;
	background: url("../images/background4.png") ;
	color: #fff;
	font-size: 20px;
	line-height: 35px;
	margin: 5px 10px 0px 0px;
}
.ProjectReview .commentsList{
	padding: 15px;
	border: 1px solid #d9d9d9;
}
.ProjectReviewH3,.PrReDetails h3{
	color: #ff5200;
	font-size: 24px;
	text-align: left;
	margin: 20px 0px 10px 20px;
}
.PrReDetails h3{
	text-align:center;
	margin: 0px;
}
.PrReDetails{
	width: 800px;
	padding: 30px;
}
.addPrDygreenButton{
	background: #8ec017;
	color: #fff;
	font-size: 14px;
	margin-left: 5px;
	cursor: pointer;
	padding: 7px 15px 7px 15px;
}
.InInIframe h3{
	text-align: left;
	font-size: 24px;
	color: #ff5200;
	margin: 20px 0px 10px 20px;
}
.itemSettingMoeny{
	margin-top: 10px;
	font-size: 14px;
	color: #666666;
	text-align: left;
}
.operation img{
	cursor: pointer;
	width: 15px;
	height: 15px;
}
.Usermessage img{
	width: 95px;
	height: 95px;
}
.Usermessage span{
	width: 40px;
	height: 40px;
	display: inline-block;
	background-repeat: no-repeat;
	background-position:bottom left;
}
.userInforTag span{
	width: 30px;
	height: 40px;
	display: inline-block;
	background-repeat: no-repeat;
	background-position:bottom left;
}
.userInforTag{
	display: none;
}
.userInhover{
	color: #fcff00;
}
.userIcont1{
	background: url("../images/userIcont1.png");
}
.userIcont2{
	background: url("../images/userIcont2.png");
}
.userIcont3{
	background: url("../images/userIcont3.png");
}
.userIcont4{
	background: url("../images/userIcont4.png");
}
.userIcont5{
	background: url("../images/userIcont5.png");
}
.userIcont6{
	background: url("../images/userIcont6.png");
}
.userIcont7{
	background: url("../images/userIcont7.png");
}
.userIcont8{
	background: url("../images/userIcont8.png");
}
.userIcont9{
	background: url("../images/userIcont9.png");
}
.userIcont10{
	background: url("../images/userIcont10.png");
}
.userIcont11{
	background: url("../images/userIcont11.png");
}
.userIcont12{
	background: url("../images/userIcont12.png");
}
.userIcont13{
	background: url("../images/userIcont13.png");
}
.userIcont14{
	background: url("../images/userIcont14.png");
}
.userIcont15{
	background: url("../images/userIcont15.png");
}
.userIcont16{
	background: url("../images/userIcont16.png");
}
.userIcont17{
	background: url("../images/userIcont17.png");
}
.userIcont18{
	background: url("../images/userIcont18.png");
}
.userIcont19{
	background: url("../images/userIcont19.png");
}
.userIcont20{
	background: url("../images/userIcont20.png");
}
.userIcont21{
	background: url("../images/userIcont21.png");
}
.userIcont22{
	background: url("../images/userIcont22.png");
}
.userIcont23{
	background: url("../images/userIcont23.png");
}
.userInhover .userIcont1{
	background: url("../images/userIcont1-1.png") no-repeat bottom left;
}
.userInhover .userIcont2{
	background: url("../images/userIcont2-1.png") no-repeat bottom left;
}
.userInhover .userIcont3{
	background: url("../images/userIcont3-1.png") no-repeat bottom left;
}
.userInhover .userIcont4{
	background: url("../images/userIcont4-1.png") no-repeat bottom left;
}
.userInhover .userIcont5{
	background: url("../images/userIcont5-1.png") no-repeat bottom left;
}
.userInhover .userIcont6{
	background: url("../images/userIcont6-1.png") no-repeat bottom left;
}
.userInhover .userIcont7{
	background: url("../images/userIcont7-1.png") no-repeat bottom left;
}
.userInhover .userIcont8{
	background: url("../images/userIcont8-1.png") no-repeat bottom left;
}
.userInhover .userIcont9{
	background: url("../images/userIcont9-1.png") no-repeat bottom left;
}
.userInhover .userIcont10{
	background: url("../images/userIcont10-1.png") no-repeat bottom left;
}
.userInhover .userIcont11{
	background: url("../images/userIcont11-1.png") no-repeat bottom left;
}
.userInhover .userIcont12{
	background: url("../images/userIcont12-1.png") no-repeat bottom left;
}
.userInhover .userIcont13{
	background: url("../images/userIcont13-1.png") no-repeat bottom left;
}
.userInhover .userIcont14{
	background: url("../images/userIcont14-1.png") no-repeat bottom left;
}
.userInhover .userIcont15{
	background: url("../images/userIcont15-1.png") no-repeat bottom left;
}
.userInhover .userIcont16{
	background: url("../images/userIcont16-1.png") no-repeat bottom left;
}
.userInhover .userIcont17{
	background: url("../images/userIcont17-1.png") no-repeat bottom left;
}
.userInhover .userIcont18{
	background: url("../images/userIcont18-1.png") no-repeat bottom left;
}
.userInhover .userIcont19{
	background: url("../images/userIcont19-1.png") no-repeat bottom left;
}
.userInhover .userIcont20{
	background: url("../images/userIcont20-1.png") no-repeat bottom left;
}
.userInhover .userIcont21{
	background: url("../images/userIcont21-1.png") no-repeat bottom left;
}
.userInhover .userIcont22{
	background: url("../images/userIcont22-1.png") no-repeat bottom left;
}
.userInhover .userIcont23{
	background: url("../images/userIcont23-1.png") no-repeat bottom left;
}
.refuse{
	font-size: 14px;
	line-height: 30px;
	color: #333333;
} 
.refuse h5{
	color: #ff5200;
	font-size: 16px;
}
.refuse div{
	text-indent:2em;
}
.RechargeHint{
	display: none;
}
.steps {
		display: table;
		table-layout: fixed;
		width: 100%;
		background: 0 0;
		line-height: 1.142rem;
		box-sizing: border-box;
		border-radius: .2857rem;
	}
	.steps .step {
		position: relative;
		display: table-cell;
		vertical-align: middle;
		margin: 0;
		padding: .9285em 1.5em .9285em 1.25em;
		background: #ffffff;
		color: #333;
		border-top: 1px solid #d4d4d5;
		border-bottom: 1px solid #d4d4d5;
		border-right: 1px solid #d4d4d5;
		border-radius: 0;
	}
	.steps .step:first-child {
		padding-left: 1.5em;
		border-left: 1px solid #d4d4d5;
		border-radius: .2857rem 0 0 .2857rem;
	}
	.steps .step:last-child {
		border-left: 0;
		border-radius: 0 .2857rem .2857rem 0;
		margin-right: 0;
	}

	/* Active */
	.steps .step.active {
		cursor: auto;
		/*background: #f0f0f0;*/
		border-bottom: 2px solid orange;
	}
	.step span{
	font-size: 15px;
}