html {
    height: auto;
}

body.iframe {
    padding: 0;
    overflow: hidden;
}

#aboutCreater {

}

#aboutCreater #code {
    width: 6em;
}

#aboutCreater #validImg {
    cursor: pointer;
    height: 30px;
    border-radius: 2px;
}

#aboutCreater #refreshCode {
    color: #333;
}

#aboutCreater #refreshCode:hover, #aboutCreater #refreshCode:active {
    color: #444;
}

#aboutCreater #submitBtn {
    margin-left: 0;
}