#filtering {
    padding-top: 30px;
}

#filtering dl {
}

#filtering dt {
    display: inline-block;
    float: left;
    font-size: 16px;
    margin: 0 .5em 0 0;
    font-weight: 400;
    height: 40px;
}

#filtering dt:after {
    clear: both;
    content: "";
}

#filtering dd:after {
    clear: both;
    content: "";
    display: block;
}

#filtering dd {
    margin: 0;
    height: 40px;
}

#filtering dd a {
    display: inline-block;
    margin: 0 .5em;
    text-decoration: none;
    color: #333333;
    background-color: #e1dfe0;
    padding: .4em 1.5em;
    font-size: 12px;
    font-weight: normal;
    min-width: 7em;
    /*border: 1px solid #cbcbcb;*/
    /*border-radius: 2px;*/
    text-align: center;
}

#filtering dd a:hover {
    -webkit-box-shadow: rgba(0,0,0,.2) 0 1px 1px;
    -moz-box-shadow: rgba(0,0,0,.2) 0 1px 1px;
    box-shadow: rgba(0,0,0,.2) 0 1px 1px;
    /*border-radius: 2px;*/
}

#filtering dd a:active,
#filtering dd a.active {
    color: #ffffff;
    background-color: #1d2088;
    /*border-radius: 2px;*/
    /*border: 1px solid #0d66b8;*/
}

#sorting {
    margin: 0 .5em 0 0;
    border-bottom: 2px solid #e6e6e6;
}

#sorting ul {
    display: inline;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#sorting ul li {
    cursor: pointer;
    display: inline-block;
    margin: 0;
    color: #333333;
    background-color: #c7c7c7   ;
    padding: 10px 15px;
    font-size: 12px;
    font-weight: normal;
    min-width: 70px;
    border: 0;
    text-align: center;
}

#sorting ul li:after {
    clear: both;
    content: "";
    display: table;
}

#sorting ul li:hover {
    -webkit-box-shadow: rgba(0,0,0,.2) 0 1px 1px;
    -moz-box-shadow: rgba(0,0,0,.2) 0 1px 1px;
    box-shadow: rgba(0,0,0,.2) 0 1px 1px;
}

#sorting ul li:active,
#sorting ul li.active {
    color: #ffffff;
    background-color: #1d2088;
    /*border-radius: 2px;*/
    /*border: 1px solid #009fe9;*/
}

#iframe-container {
    margin: 0;
}