#moreComments {
    padding-top: 4em;
    padding-bottom: 3em;
}

#moreComments .title {
    text-align: center;
    margin: 0 auto;
    color: #c91111;
}

#moreComments .title span {
    border: 1px solid #cd0102;
    color: #cd0102;
    padding: 2px 15px;
    border-radius: 5px;
}

#moreComments .title h3 {
    display: inline-block;
    margin-right: 1em;
    color: #333;
    font-weight: normal;
}

#moreComments .title-count {
    text-align: center;
    color: #444;
    font-size: 12px;
    /*margin-bottom: 2em;*/
}

#moreComments .title-count span {
    margin-left: 1em;
}
#moreComments .comment-title {
    border-bottom: 2px solid #e6e6e6;
}
#moreComments .comment-title p{
    margin:2em 0em 0em 0em;
    font-size:16px;
}
#moreComments .comment-title p span {
    margin-left: 50em;
    font-size:12px;
    color:#ccc;
}
#moreComments .comment-title p span em{
    font-size:16px;
    color:#00a0e9;
    font-style: normal
}
#moreComments .commentsList {
    margin-top: 1em;
}
#moreComments .commentsList textarea{
    width:100%
}
#moreComments .commentsList .commentText span{
    margin-left: 54em;
}

#moreComments .entrepreneur {
    -webkit-box-shadow: 0px 1px 3px #e5e5e5;
    -moz-box-shadow: 0px 1px 3px #e5e5e5;
    -ms-box-shadow: 0px 1px 3px #e5e5e5;
    box-shadow: 0px 1px 3px #e5e5e5;
    border: 1px solid #e6e6e6;
}

#moreComments .entrepreneur .title {
    border-bottom: 2px solid #e6e6e6;
    text-align: left;
}

#moreComments .entrepreneur .title h3 {
    margin: 0;
    padding: .3em .3em .3em 1em;
}

#moreComments .entrepreneur .detail .avatar {
    display: block;
    padding: 1em;
}

#moreComments .entrepreneur .detail .avatar a {
    display: inline-block;
    width: 65px;
    height: 65px;
    overflow: hidden;
}

#moreComments .entrepreneur .detail .avatar h4 {
    display: inline-block;
    vertical-align: top;
    margin-left: 1em;
}

#moreComments .entrepreneur .detail .avatar i.fa {
    cursor: pointer;
}

#moreComments .entrepreneur .detail .avatar a img {
    width: 100%;
    border-radius: 50%;
    margin: 0 auto;
    vertical-align: top;
}

#moreComments .entrepreneur .detail .project-info {
    overflow: hidden;
    line-height: 1.8;
    padding: 0em 1em 1em 1em;
}

#moreComments .entrepreneur .detail .project-info .progress-bar {
    height: 15px;
    line-height: 0;
    background-color: #caeaf5;
}

#moreComments .entrepreneur .detail .project-info .progress {
    width:90%;
    padding: 0 5px;
    float: left;
    height: 15px;
    background: #00a0e9;
    color: #ffffff;
    line-height: 15px;
    text-align: right;
}
#pagination ul.pagination {
    display: inline-block;
}

