#MyAccountCenter {
    padding-top: 4em;
    padding-bottom: 3em;
}

#account-center-menu {
    min-width: 200px;
    -webkit-box-shadow: 0px 1px 3px #ccc;
    -moz-box-shadow: 0px 1px 3px #ccc;
    -ms-box-shadow: 0px 1px 3px #ccc;
    box-shadow: 0px 1px 3px #ccc;
    border: 1px solid #e6e6e6\9;
}

#account-center-menu .avatar {
    display: block;
    padding: 1em;
    border-bottom: 1px solid #e6e6e6;
}

#account-center-menu .avatar a {
    display: block;
    margin: .5em auto;
    width: 65px;
    height: 65px;
    overflow: hidden;
}

#account-center-menu .avatar img {
    width: 100%;
    border-radius: 50%;
    vertical-align: top;
}

#account-center-menu .avatar h4 {
    font-weight: normal;
}

#account-center-menu dl {
    padding: 0 1.5em;
}

#account-center-menu dl dt {
    font-size: 15px;
    font-weight: normal;
    margin-top: .5em;
}

#account-center-menu dl dd a {
    font-size: 14px;
    display: block;
    color: #444;
    margin: .5em auto;
}

#account-center-menu dl dd a:hover,
#account-center-menu dl dd a:active,
#account-center-menu dl dd a.active {
    text-decoration: none;

}

#account-center-content {
    -webkit-box-shadow: 0px 1px 3px #ccc;
    -moz-box-shadow: 0px 1px 3px #ccc;
    -ms-box-shadow: 0px 1px 3px #ccc;
    box-shadow: 0px 1px 3px #ccc;
    border: 1px solid #e6e6e6\9;
}