#reSetPwd {
    padding-top: 4em;
    padding-bottom: 2em;
}



#reSetPwd .zhmm-inputlist {
    margin-bottom: 20px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    line-height: 34px;
    font-size: 14px;
}
#reSetPwd .zhmm-inputlist .formContainer{
    border: 1px solid #F4F4F4;
    border-radius: 35px;
    padding: 50px 0px 30px 0px;
}
#reSetPwd .zhmm-inputlist .formContainer input {
    width: 20em;
}

#reSetPwd .zhmm-inputlist .formContainer .code {
    width: 6em;
}

#reSetPwd .zhmm-inputlist .formContainer .validImg {
    cursor: pointer;
    height: 30px;
    border-radius: 2px;
}

#reSetPwd .zhmm-inputlist .formContainer .refreshCode {
    color: #333;
}

#reSetPwd .zhmm-inputlist .formContainer .refreshCode:hover,
#reSetPwd .zhmm-inputlist .formContainer .refreshCode:active {
    color: #444;
}



#reSetPwd .zhmm-buzhouzhiyin {
     height: 64px;
     margin-top: 30px;
     margin-bottom: 30px;
 }

#reSetPwd .zhmm-buzhouzhiyin>div {
    display: inline-block;
}
#reSetPwd .zhmm-buzhouzhiyin .zhmm-buzounum {
    width: 100px;
    line-height: 14px;
    font-size: 14px;
    text-align: center;
    color: #bcbcbc;
}
#reSetPwd .zhmm-buzounum.one{
      color:#01A0E9;
  }
#reSetPwd .zhmm-buzhouzhiyin .zhmm-buzounum>div {
    height: 50px;
    line-height: 50px;
    font-size: 40px;
}
#reSetPwd .zhmm-buzhouzhiyin .zhmm-fengexian {
    width: 80px;
    height: 29px;
    margin-top: auto;
    margin-bottom: auto;
    border-top: 6px solid #dcdcdc;
}
#reSetPwd .zhmm-fengexian.one{
    border-color:#01A0E9;
}

