@CHARSET "UTF-8";
#body {
        margin-bottom: 30px;
        overflow: hidden;
      }
      #bodyleft {
        float: left;
        width: 173px;
      }
      #CorInf-sidebar {
        overflow: hidden;
        border: 1px solid #f9d682;
      }
      #CorInf-sidebar .hover {
        color: #fff;
        background-color: #fd8f59;
      }
      #CorInf-sidebar>ul>li {
        margin-bottom: 1px;
      }
      #CorInf-sidebar>ul>li>a {
        display: block;
        height: 35px;
        line-height: 35px;
        color: #545454;
        font-size: 15px;
        text-align: center;
        background-color: #fef9e1;
      }
      #CorInf-sidebar>ul>li>a:hover {
        text-decoration: none;
        color: #fff;
        background-color: #fd8f59;
      }
      #bodyright {
        float: right;
    /*     width: 748px; */
        color: #555;
      }
      .datums {
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 30px;
/*         border: 1px solid #f9d682; */
      }
      .datums h1 {
        height: 70px;
        line-height: 70px;
        text-align: center;
        font-size: 22px;
        border-bottom: 1px dashed #ccc;
      }
      .datums p {
        margin-top: 20px;
        margin-bottom: 20px;
        line-height: 25px;
        font-size: 14px;
        text-indent: 2em;
        text-align: justify;
      }
      



      .datum{
        height: 60px;
        width: 90%;
        margin: 0 auto;
        margin-top: 15px;
      }
      .background1{
        background: #f6f6f6;
      }
      .radiu{
        -webkit-border-radius: 5px;
         -moz-border-radius: 5px;
      }
      .text-orange2{
        color: #ff4d00;
        font-weight: bold;
      }
      .datumer{
        padding: 0px 10px 0px 10px;
        height: 60px;
        width: 70px;
        float: left;
        font-size: 18px;
        line-height: 30px;
        text-align: center;
        border-right: 1px dashed #6a6a6a;
      }
      .datumright{
        color:#6a6a6a;
        font-size: 15px;
        line-height: 30px;
      }
      .datumright div{
        float: left;
        margin-left:  10px;
      }
      #age ,#profession ,#number{
        width: 110px;
      }
      #recycle ,#recycling{
        width: 220px;
      }
      #name{
        width: 160px;
      }