
/*----public样式Start----*/
body {
  font-family: 'microsoft yaHei','微软雅黑',arial;
}
input{ border:1px #a8a8a8 solid; margin:3px;}
.container {
  width: 984px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 8px;
  padding-right: 8px;
}

.weizhi-lianjie {
  height: 21px;
  margin-top: 5px;
  margin-bottom: 10px;
  padding-left: 31px;
  background-image: url(../images/weizhi_lianjie_bg.png);
  background-repeat: no-repeat;
  line-height: 21px;
  color: #ccc;
  font-size: 14px;
}
.weizhi-lianjie a {
  color: #5a5a5a;
}
.weizhi-lianjie span {
  color: #5a5a5a;
  font-weight: bold;
}
#wangjimima-box {
  margin-bottom: 30px;
  border: 1px solid #ccc;
  color: #666;
}

/*----public样式End----*/
/*----头部样式Start----*/
.head-w {
min-width: 1000px;
  height: 44px;
  background-color: #323232;
}
.head {
  font-size: 14px;
  line-height: 44px;
  font-family: SimHei;
  color: #aaa;
}
.head span {
  font-size: 24px;
  font-weight: bold;
  font-family: 'microsoft yaHei','微软雅黑',arial;
  color: #ee5407;
}
.head a {
  float: right;
  padding-left: 10px;
  padding-right: 10px;
}
.head img {
  padding-top: 6px;
  float: right;
}
.gray {
  color: #aaa;
}
.orange {
  color: #ff5703;
}
.green {
  color: #339900;
}
.yellow {
  color: #ffff00;
}
/*----头部样式End----*/
/*----导航样式Start----*/
.nav-w {
  min-width: 1000px;
  padding-bottom: 10px;
  background-repeat: repeat-x;
  background-position: left bottom;
  background-image: url(../images/nav_bottom_bg.png);
}
.nav {
  width: 1000px;
  height: 47px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 24px;
  padding-bottom: 24px;
}
.nav span {
  position:relative;
  bottom:8px;
  margin-left:15px;
  padding:10px;
  font-size:30px;
  font-family:SimHei;
  border-left:1px solid #999;
  color:#ff5603;
}
.nav ul {
  float: right;
  padding-top: 6px;
  padding-bottom: 6px;
}
.nav ul li {
  margin-left: 8px;
  margin-right: 8px;
  float: left;
}
.nav ul li a{
  display: inline-block;
  line-height: 35px;
  font-size: 16px;
  color: #454545;
}
.nav-left-a {
  margin-left: 8px; 
  margin-right: 8px; 
  padding-left: 5px;
  padding-right: 5px;
  border-bottom: 2px solid #fff;
}
.nav-left-a:hover {
  color: #ff5704;
  border-bottom: 2px solid #ff5704;
  text-decoration: none;
}
.nav .nav-right-a {
  padding-left: 12px;
  padding-right: 12px;
  color: #fff;
}
.nav-right-li {
  background-color: #fd671d;
  border-radius: 4px;
}
/*----导航样式End----*/
/*----主体样式Start----*/
.body {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}
/*----主体样式End----*/
/*----脚部样式Start----*/
.footer-w {
  height: 225px;
  min-width: 1000px;
  padding-top: 30px;
  background-color: #f4f4f4;
  border-top: 1px solid #fff;
}
.footer {
  font-size: 14px;
  color: #666;
}
.footer p{
  padding-top: 5px;
}
.center {
  text-align: center;
}
.footer>div {
  overflow: hidden;
  padding-bottom: 20px;
}
.footer>div ul {
  width: 95px;
  float: left;
}
.footer>div ul li {
  padding-top: 2px;
  padding-bottom: 1px;
  padding-left: 15px;
  border-left: 1px solid #ccc;
}
.footer>div ul .firstli {
  padding-bottom: 8px;
  border-left: 3px solid #94c851;
  font-size: 15px;
  font-weight: bold;
  color: #ff5400;
}
.footer>div ul li a {
  color: #666;
}
.footer .mobile-nav {
  float: right;
}
.footer .mobile-nav {
  width: 255px;
  background-image: url(../images/dianhua-pic.png);
  background-repeat: no-repeat;
  background-position: 0 30px;
}
.footer .mobile-nav li {
  padding-left: 52px;
  border: none;
  font-size: 16px;
  color: #666;
}
.footer .mobile-nav .li2 {
  font-size: 25px;
  color: #555;
}
.footer .mobile-nav .li3 {
  padding-top: 20px;
}
/*----脚部样式End----*/